<!DOCTYPE html>
<html>
<head>
    <title>Main Subdomain</title>
</head>
<body>
    <h1>Conductor Framework Test Page</h1>
    <p>This is the test page for the Conductor Framework.</p>
    <p>Links:</p>
    <ul>
        <li><a href="/test">Fruits</a></li>
        <li><p>Fruit Dictionary:</p></li>
        <li><ul>
            <li><a href="/other/apple">Apple</a></li>
            <li><a href="/other/banana">Banana</a></li>
            <li><a href="/other/cherry">Cherry</a></li>
            <li><a href="/other/date">Date</a></li>
            <li><a href="/other/elderberry">Elderberry</a></li>
            <li><a href="/other/fig">Fig</a></li>
            <li><a href="/other/grape">Grape</a></li>
        </ul></li>
        <li><a href="/form">Our Little Form</a></li>
    </ul>
</body>
</html>